<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
 
<body>
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- WELCOME PAGE (INDEX) -->
<div data-role="page" id="one">
	<div data-role="header">
		<h1>FPL APP</h1>
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>FPL APP</h2>
 
		Welcome! to our app!
 
 
		<p><a href="#two" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#Three" class="ui-btn ui-shadow ui-corner-all">Login</a></p>	
 
	</div><!-- /content -->
 
	<div data-role="footer" data-theme="a">
		<h4>Developed By Mark Aigbe, Josh Capellan, Dylan Forman </h4>
	</div><!-- /footer -->
</div><!-- /page one -->
 
 
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- REGISTER -->
<div data-role="page" id="two" data-theme="a">
 
	<div data-role="header">
		<h1>Register</h1>
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>Register</h2>
 
		    Username: <input type="text" id="regUsername" name="regUsername" class="text-basic" value="">
 
			Password: <input type="password" id="regPassword" name="regPassword" class="text-basic" value="">
 
            <button id="register" class="ui-btn">Sign Up</button>
 
			<!-- <p>Already registered? login <a href="#three">here</a></p> -->
			<p>Already registered? login <a href="#Three">here</a></p>
 
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	</div><!-- /content -->
 
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page two -->
 
 
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- LOGIN -->
<div data-role="page" id="Three" data-theme="a">
 
	<div data-role="header">
		<h1>Login</h1>
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>Three</h2>
 
			Username: <input type="text" name="username" id="username" class="text-basic" value="">
            Password <input type="password" name="password" id="password" class="text-basic" value="">
 
            <button id = "login" class="ui-btn">Login</button>
 
			<p>Havent registered? register <a href="#two">here</a></p>
 
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	</div><!-- /content -->
 
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page three -->
 
 
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- TEAM -->
<div data-role="page" id="four" data-theme="a">
 
	<div data-role="header">
		<h1>Team</h1>
 
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>Create a team</h2>
 
		GK <input type="text" id="gk"/>
		RB <input type="text" id="rb"/>
		CB <input type="text" id="cb1"/>
		CB <input type="text" id="cb2"/>
		LB<input type="text" id="lb"/>
		RM <input type="text" id="rm"/>
		CM <input type="text" id="cm1"/>
		CM <input type="text" id="cm2"/>
		LM <input type="text" id="lm"/>
		ST<input type="text" id="st1"/>
		ST<input type="text" id="st2"/>
		<button id = "submitTeam"class="ui-btn">Submit Team</button>
 
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>
	</div><!-- /content -->
 
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page cook -->

<!----------------------------------------------------------------------------------------------------------------------------->
<!-- TABLES -->
<div data-role="page" id="five" data-theme="a">
 
	<div data-role="header">
		<h1>Tables</h1>
 
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>Tables of Europes top 5 divisions</h2>
 
 
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>
	</div><!-- /content -->
 
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page cook -->

 
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- ADMIN CUSTOMER PAGES -->
<!-- ADMIN -->
<div data-role="page" id="manager" data-theme="a">
 
	<div data-role="header">
 
		<h1>Admin</h1>
 
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>Admin</h2>
    </div>
		 <p>Show all teams</p>
 
		<button onclick="getData()"> Get data </button>
 
		<div id="managerData"> </div>
 
		<p><a href="#one" class="ui-btn ui-shadow ui-corner-all">Logout</a></p>	
 
	<div data-role="footer">
 
		<h4>Page Footer</h4>
 
	</div><!-- /footer -->
 
</div><!-- /page manager -->
 
 
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- CUSTOMER -->
<div data-role="page" id="customer" data-theme="a">
 
	<div data-role="header">
		<h1>Multi-page</h1>
	</div><!-- /header -->
 
	<div role="main" class="ui-content">
		<h2>Home</h2>
 
		Welcome to our app!
 
 
		<p>Main page for general user</p>
 
		<p><a href="#four" class="ui-btn ui-shadow ui-corner-all">Create a team</a></p>
		<p><a href="#five" class="ui-btn ui-shadow ui-corner-all">View Tables</a></p>
 
 
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>
 
	</div><!-- /content -->
	</div><!-- /footer -->
</div><!-- /page customer -->
 
 
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- SCRIPTS -->
 
<!-- REGISTER -->
<script>
	$("#register").click(function(e) {
	console.log("clicked");
 
	// get the username and the password
	var un = $("#regUsername").val();
	var pw = $("#regPassword").val();
 
	// AJAX POST to the /register page 
	$.post( "/register", { username: un, password: pw})
	.done(function( data ) {
		alert( "Data Loaded: " + data );
 
		// redirect to the customer page.
		window.location="/#customer";
 
	});
});
</script>
 
 
<!-- LOGIN -->
<script>
	$("#login").click(function(e) {
		console.log("clicked");
 
		// get the username and the password
		var un = $("#username").val();
		var pw = $("#password").val();
 
		// AJAX POST to the /login page 
		$.post( "/login", { username: un, password: pw })
		.done(function( data ) {
			alert( "Data Loaded: " + data );
 
			if(data.includes('customer')){
			// redirect to the customer page.
			window.location="/#customer";
 
			}
 
			else if(data.includes('admin')){
			window.location="/#admin";
			}
 
			// basically refresh page if no login data
			else{
			window.location="/#login"; 
			}
		});
	});
</script>
 
<!-- SUBMIT TEAM --> 
<script>
	$("#submitTeam").click(function(e) {
	console.log("button clicked");
 
	// get the team values
	var gk = $("#gk").val();
	var rb = $("#rb").val();
	var cb1 = $("#cb1").val();
	var cb2 = $("#cb2").val();		
	var lb = $("#lb").val();
	var rm = $("#rm").val();
	var cm1 = $("#cm1").val();
	var cm2 = $("#cm2").val();
	var lm = $("#lm").val();
	var st1 = $("#st1").val();
	var st2 = $("#st2").val();
	
 
	// AJAX POST to the /team page 
	$.post("/teams", { gk: gk, rb: rb, cb1: cb1, cb2: cb2, lb: lb, rm: rm, cm1: cm1, cm2: cm2, lm: lm, st1: st1, st2: st2})
	.done(function( data ) {
		alert( "Data Loaded: " + data );
 
		// redirect to the customer page.
		window.location="/#customer";
 
	});
});
</script>
 
</body>
</html>