<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

	<link rel="stylesheet" href="themes/RED.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!----------------------------------------------------------------------------------------------------------------------------->
<!-- WELCOME PAGE (INDEX) -->
<div data-role="page" id="one">
	<div data-role="header">
		<h1>FPL APP</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>FPL APP</h2>

		Welcome! to our app!

		<p><a href="#two" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#Three" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Developed By Mark Aigbe, Josh Capellan, Dylan Forman </h4>
	</div><!-- /footer -->
</div><!-- /page one -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- REGISTER -->
<div data-role="page" id="two" data-theme="a">

	<div data-role="header">
		<h1>Register</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Register</h2>

		    Username: <input type="text" id="regUsername" name="regUsername" class="text-basic" value="">

			Password: <input type="password" id="regPassword" name="regPassword" class="text-basic" value="">

            <button id="register" class="ui-btn">Sign Up</button>

			<!-- <p>Already registered? login <a href="#three">here</a></p> -->
			<p>Already registered? login <a href="#Three">here</a></p>

		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page two -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- LOGIN -->
<div data-role="page" id="Three" data-theme="a">

	<div data-role="header">
		<h1>Login</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Login</h2>

			Username: <input type="text" name="username" id="username" class="text-basic" value="">
            Password <input type="password" name="password" id="password" class="text-basic" value="">

            <button id = "login" class="ui-btn">Login</button>

			<p>Havent registered? register <a href="#two">here</a></p>

		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page three -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- TEAM -->
<div data-role="page" id="four" data-theme="a">

	<div data-role="header">
		<h1>Team</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Create a team</h2>

		GK <select onclick="getData_players()" id="goal_keeper"/> <option class="player_data"></option> <option class="player_data"></option> <option></option></select>

		RB <select id="right_back"/></select>
		CB <select id="center_back_1"/></select>
		CB <select id="center_back_2"/></select>
		LB<select id="left_back"/></select>
		RM <select id="right_mid"/></select>
		CM <select id="center_mid_1"/></select>
		CM <select id="center_mid_2"/></select>
		LM <select id="left_mid"/></select>
		ST<select id="striker1"/></select>
		ST<select id="striker2"/></select>
		<button id = "submitTeam"class="ui-btn">Submit Team</button>

		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page cook -->

<!----------------------------------------------------------------------------------------------------------------------------->
<!-- TABLES -->
<div data-role="page" id="five" data-theme="a">

	<div data-role="header">
		<h1>Tables</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Tables</h2>
		<p><a href="#seven" class="ui-btn ui-corner-all" onclick="getData_pl()">Premier League</a></p>
		<p><a href="#eight" class="ui-btn ui-corner-all" onclick="getData_liga()">La Liga</a></p>
		<p><a href="#nine" class="ui-btn ui-corner-all" onclick="getData_serie()">Serie A</a></p>
		<p><a href="#customer" data-direction="reverse"class="ui-btn ui-corner-all">Go Back</a></p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page cook -->

<div data-role="page" id="seven" data-theme="a">

	<div data-role="header">
		<h1>Premier League</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Premier League</h2>

		<br>
		<div id ="prem_table">

		</div>

		<p><a href="#five" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page seven -->



<div data-role="page" id="eight" data-theme="a">

	<div data-role="header">
		<h1>La Liga</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>La Liga</h2>

		<br>
		<div id ="liga_table">

		</div>

		<p><a href="#five" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page eight -->



<div data-role="page" id="nine" data-theme="a">

	<div data-role="header">
		<h1>Serie A</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Serie A</h2>

		<br>
		<div id ="serie_table">

		</div>

		<p><a href="#five" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page nine -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- ADMIN CUSTOMER PAGES -->
<!-- ADMIN -->
<div data-role="page" id="admin" data-theme="a">

	<div data-role="header">

		<h1>Admin</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Admin</h2>
    </div>
		 <p>Show all teams</p>

		<button onclick="getData_admin()"> Get data </button>

		<div id="admin_data"> </div>

		<p><a href="#one" class="ui-btn ui-shadow ui-corner-all">Logout</a></p>

	<div data-role="footer">

		<h4>Page Footer</h4>

	</div><!-- /footer -->

</div><!-- /page manager -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- CUSTOMER -->
<div data-role="page" id="customer" data-theme="a">

	<div data-role="header">
		<h1>Multi-page</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Home</h2>

		Welcome to our app!


		<p>Main page for general user</p>

		<p><a href="#four" class="ui-btn ui-shadow ui-corner-all">Create a team</a></p>
		<p><a href="#five" class="ui-btn ui-shadow ui-corner-all">View Tables</a></p>
		<p><a href="#forum" class="ui-btn ui-shadow ui-corner-all">Enter Forums</a></p>
		<p><a href="#playersStat" class="ui-btn ui-shadow ui-corner-all">Enter Players Stats</a></p>


		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->
	</div><!-- /footer -->
</div><!-- /page customer -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- Fourms Page -->
<div data-role="page" id="forum" data-theme="a">

	<div data-role="header">
		<h1>Fourm page</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Forums</h2>

		Welcome to your space to discuss


		<p>Please voice your opinions below</p>

		<form>
		  <label> Enter name: <label><br>
		  <input type="text" id="fname" name="fname"><br>
		  <label> Enter text below: <label><br>
			<textarea id="formtext" name="formtext" rows="4" cols="50">
			</textarea>
			<button id = "submit" class="ui-btn">Submit</button>
		</form>


		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->
	</div><!-- /footer -->
</div><!-- /page customer -->


<!----------------------------------------------------------------------------------------------------------------------------->

<!-- Players Stat Page -->
<div data-role="page" id="playersStat" data-theme="a">

	<div data-role="header">
		<h1>Players Stats</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Chose a league</h2>
		<p><a href="#premPlayers" class="ui-btn ui-corner-all" onclick="getData_premPlayer()()">Premier League</a></p>
		<p><a href="#ligaPlayers" class="ui-btn ui-corner-all" onclick="getData_ligaPlayer()">La Liga</a></p>
		<p><a href="#seriePlayers" class="ui-btn ui-corner-all" onclick="getData_serieaPlayer()">Serie A</a></p>
		<p><a href="#customer" data-direction="reverse"class="ui-btn ui-corner-all">Go Back</a></p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->
	</div><!-- /footer -->
</div><!-- /page playersStat -->

<div data-role="page" id="premPlayers" data-theme="a">

	<div data-role="header">
		<h1>Premier League</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Premier League</h2>
	
		<h4>Rank|Name|GoalsGL|AssistsA|PlayedP|Goals per 90|Mins per Goal|MPG|Total Shots|Goal Conversion|Shot Accuracy </h4>

		
		<br>
		<div id ="premPlayer_table">

		</div>

		<p><a href="#playersStat" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page seven -->



<div data-role="page" id="ligaPlayers" data-theme="a">

	<div data-role="header">
		<h1>La Liga</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>La Liga</h2>
		
		<h4>Rank|Name|GoalsGL|AssistsA|PlayedP|Goals per 90|Mins per Goal|MPG|Total Shots|Goal Conversion|Shot Accuracy </h4>
		

		<br>
		<div id ="ligaPlayer_table">

		</div>

		<p><a href="#playersStat" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page eight -->



<div data-role="page" id="seriePlayers" data-theme="a">

	<div data-role="header">
		<h1>Serie A</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Serie A</h2>
		
		<h4>Rank|Name|GoalsGL|AssistsA|PlayedP|Goals per 90|Mins per Goal|MPG|Total Shots|Goal Conversion|Shot Accuracy </h4>
		

		<br>
		<div id ="serieaPlayer_table">

		</div>

		<p><a href="#playersStat" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page nine -->


<!----------------------------------------------------------------------------------------------------------------------------->

<!-- SCRIPTS -->

<!-- REGISTER -->
<script>
	$("#register").click(function(e) {
	console.log("clicked");

	// get the username and the password
	var un = $("#regUsername").val();
	var pw = $("#regPassword").val();

	// AJAX POST to the /register page
	$.post( "/register", { username: un, password: pw})
	.done(function( data ) {
		alert( "Data Loaded: " + data );

		// redirect to the customer page.
		window.location="/#customer";

	});
});
</script>


<!-- LOGIN -->
<script>
	$("#login").click(function(e) {
		console.log("clicked");

		// get the username and the password
		var un = $("#username").val();
		var pw = $("#password").val();

		// AJAX POST to the /login page
		$.post( "/login", { username: un, password: pw })
		.done(function( data ) {
			alert( "Data Loaded: " + data );

			if(data.includes('customer')){
			// redirect to the customer page.
			window.location="/#customer";

			}

			else if(data.includes('admin')){
			window.location="/#admin";
			}

			// basically refresh page if no login data
			else{
				window.location="/#login";
				console.log("LOGIN FAILED");
			}
		});
	});
</script>

<!-- SUBMIT TEAM -->
<script>
	$("#submitTeam").click(function(e) {
	//console.log("button clicked");

	// get the team values
	var goal_keeper = $("#goal_keeper").val();
	var right_back = $("#right_back").val();
	var center_back_1 = $("#center_back_1").val();
	var center_back_2 = $("#center_back_2").val();
	var left_back = $("#left_back").val();
	var right_mid = $("#right_mid").val();
	var center_mid_1 = $("#center_mid_1").val();
	var center_mid_2 = $("#center_mid_2").val();
	var left_mid = $("#left_mid").val();
	var striker1 = $("#striker1").val();
	var striker2 = $("#striker2").val();


	// AJAX POST to the /team page
	$.post("/teams", { gk: goal_keeper, rb: right_back, cb1: center_back_1, cb2: center_back_2, lb: left_back, rm: right_mid, cm1: center_mid_1, cm2: center_mid_2, lm: left_mid, st1: striker1, st2: striker2})
	.done(function( data ) {
		alert( "Data Loaded: " + data );

		// redirect to the customer page.
		window.location="/#customer";

	});
});
</script>

<!-- SHOW TABLES -->
<!-- ADMIN -->
<script>
function getData_admin(){
     alert("button was clicked");

     $.post( "/getData_admin", function( data ) {
     // embed the data into the managerData div tag
      $( "#admin_data" ).html( data );
    });

 }
</script>

<!-- PREM -->
<script>
function getData_pl(){
     alert("button was clicked");

     $.post( "/getData_pl", function( data ) {
     // embed the data into the managerData div tag
      $( "#prem_table" ).html( data );
    });

 }
</script>

<!-- LA LIGA -->
<script>
function getData_liga(){
     alert("button was clicked");

     $.post( "/getData_liga", function( data ) {
     // embed the data into the managerData div tag
      $( "#liga_table" ).html( data );
    });

 }
</script>

<!-- SERIE A -->
<script>
function getData_serie(){
     alert("button was clicked");

     $.post( "/getData_serie", function( data ) {
     // embed the data into the managerData div tag
      $( "#serie_table" ).html( data );
    });

 }
</script>

<!-- SHOW PLAYERS DROPDOWN -->
<script>
	function getData_players(){

		$.post( "/getData_players", function( data ) {
			// embed the data into the player select tag
			$( ".player_data").html( data );
		});

	}
</script>

<!-- LA LIGA Players-->
<script>
function getData_ligaPlayer(){
     alert("button was clicked");

     $.post( "/getData_ligaPlayer", function( data ) {
     // embed the data into the managerData div tag
      $( "#ligaPlayer_table" ).html( data );
    });

 }
</script>

<!-- PREMIER LEAGUE Players-->
<script>
function getData_premPlayer(){
     alert("button was clicked");

     $.post( "/getData_premPlayer", function( data ) {
     // embed the data into the managerData div tag
      $( "#premPlayer_table" ).html( data );
    });

 }
</script>

<!-- SERIE A Players-->
<script>
function getData_serieaPlayer(){
     alert("button was clicked");

     $.post( "/getData_serieaPlayer", function( data ) {
     // embed the data into the managerData div tag
      $( "#serieaPlayer_table" ).html( data );
    });

 }
</script>

</body>
</html>