
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script>
	var openForumName = '';
</script>

<div data-role="page" id="forum">

	<div data-role="header">
		<h1>Page Title</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Page content goes here.</p>

		<input type="text" id="username"/>


		<textarea rows="5" cols="10" id="comment"> </textarea>

		<button id="postcomment"> Post </button>

		<div id="commentoutput">

		</div>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="indexpage">

	<div data-role="header">
		<h1>Page Title</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Page content goes here.</p>

		<div id="forumnames"> </div>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->


<div data-role="page" id="players">

	<div data-role="header">
		<h1>Page Title</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Page content goes here.</p>



		<div id="pageinfo"> </div>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<!----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->

<script>
	// this waits and see if the forum page is opened,
	// if it is open, it takes the parameter name from the URLSearchParams
	// to open that forum.
	$(document).on('pagebeforeshow', "#forum", function (event, data) {
		const queryString = window.location.search;
		console.log(queryString);
		const urlParams = new URLSearchParams(queryString);
		const fn = urlParams.get('forumname');
		console.log(fn);
		$.post( "/getTopLevelComments", { name: fn } )
				.done(function( data ) {
					$( "#commentoutput" ).html( data );
				});
	});
</script>

<script>
	$.post( "/getForumNames", { } )
			.done(function( data ) {
				$( "#forumnames" ).html( data );
			});
</script>

<script>
	$.get( "/getPlayers", { } )
			.done(function( data ) {
				$( "#pageinfo" ).html( data );
			});
</script>

<script>
	$( "#postcomment" ).click(function() {
		var username = $('#username').val();
		var comment = $('#comment').val();

		$.post( "/putInDatabase", { username: username, comment: comment })
				.done(function( data ) {
					alert( "Data Loaded: " + data );
				});
	});
</script>