<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="">
<head>
	<title>mgp</title>
	<link rel="stylesheet" href="stylesheets/themes/RED.min.css" />
	<link rel="stylesheet" href="stylesheets/themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
	
<!-- Public Page (INDEX) -->
<div data-role="page" id="one">
	<div data-role="header">
		<h1>FPL APP </h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>FPL APP</h2>
		
		<img src="images/football.png" height="100" width="110" />
		
		<br>
		<br>

		Welcome! 

		<p><a href="/register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="/login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>
		<p><a href="#about" class="ui-btn ui-shadow ui-corner-all">About</a></p>
		<p><a href="#faq" class="ui-btn ui-shadow ui-corner-all">FAQ</a></p>
		<p><a href="#contact" class="ui-btn ui-shadow ui-corner-all">Contact Us</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Developed By Mark Aigbe, Josh Capellan, Dylan Forman </h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- About Page -->
<div data-role="page" id="about">
	<div data-role="header">
		<h1>FPL APP</h1>
	</div><!-- /header -->

	<h1>About Us</h1>
	
	<h2> Welcome fellow baller! </h2>
	
	<br>
	
	<h3> What is this app? </h3>
	<p>
	This app is desgined to bring like minded individuals to one common place.
	Users will find fellow football lovers on this app and be able to discuss their thoughts and opinions on recent matches and football news. Live scores of recent games will be available with the click of a button. <br> Don't miss out on the leagues top players as we will also be consistently updating each leagues top players so you can keep an eye on your favourite player.
	</p>
	<br>
	<h3> Who are we? </h3>
	<p>
	The FPL app was designed and created my TUD students Josh Capellan and Mark Aigbe for their 3rd year project with the goal of providing a useful medium for football fans to express their feelings aswell as have on demand data from their favourite leagues.


	<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	
	</div><!-- /content -->

</div><!-- /page one -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- Contact Page -->
<div data-role="page" id="contact">
	<div data-role="header">
		<h1>FPL APP</h1>
	</div><!-- /header -->

	<h1>Contact Us</h1>
	
	<h2> Feel free to contact us! </h2>
	
	<p> Josh Capellan: B00122837@mytudublin.ie
	<br>
		Mark Aigbe: @mytudublin.ie
		
	</p>

	<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	
	</div><!-- /content -->

</div><!-- /page one -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- FAQ Page -->
<div data-role="page" id="faq">
	<div data-role="header">
		<h1>FPL APP</h1>
	</div><!-- /header -->

	<h1>FAQ</h1>
	
	<h2> Here are some frequently asked questions</h2>
	
	<p>
		Q: I cant log in? <br>
		A: Please contact either one of us and we will fix the probelm <br><br>
		
		Q: Why isnt my favourite player available for me to add into the team? <br>
		A: As we are only a new app we are constitnely adding new players into our database for our customers to pick for their fantasy team. <br><br>
		
		Q: Will you expanding league choices?<br>
		A: Yes we plan on adding more leagues to our database down the line!<br><br>
		
		
	
	</p> 

	<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to homepage</a></p>
	
	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Developed By Mark Aigbe and Josh Capellan</h4>
	</div><!-- /footer -->
</div><!-- /page one -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- Create A TEAM -->
<div data-role="page" id="four" data-theme="a">

	<div data-role="header">
		<h1>Team</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Create a team</h2>

		<label>GK</label><select class="player_data" id="goal_keeper" onclick=""> </select>
		<label>RB</label><select class="player_data" id="right_back" onclick="getPlayers()"> </select>
		<label>CB</label><select class="player_data" id="center_back_1" onclick="getPlayers()"> </select>
		<label>CB</label><select class="player_data" id="center_back_2" onclick="getPlayers()"> </select>
		<label>LB</label><select class="player_data" id="left_back" onclick="getPlayers()"> </select>
		<label>RM</label><select class="player_data" id="right_mid" onclick="getPlayers()"> </select>
		<label>CM</label><select class="player_data" id="center_mid_1" onclick="getPlayers()"> </select>
		<label>CM</label><select class="player_data" id="center_mid_2" onclick="getPlayers()"> </select>
		<label>LM</label><select class="player_data" id="left_mid" onclick="getPlayers()"> </select>
		<label>ST</label><select class="player_data" id="striker1" onclick="getPlayers()"> </select>
		<label>ST</label><select class="player_data" id="striker2" onclick="getPlayers()"> </select>
		<button id = "submitTeam" class="ui-btn" onclick="submitTeam()">Submit Team</button>

		<p><a href="#customer" data-direction="reverse" class="ui-btn ui-corner-all">Go Back</a></p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>
	</div><!-- /content -->


</div><!-- /page end -->

<!----------------------------------------------------------------------------------------------------------------------------->
<!-- TABLES -->
<div data-role="page" id="five" data-theme="a">

	<div data-role="header">
		<h1>Tables</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Tables</h2>
		<p><a href="#seven" class="ui-btn ui-corner-all" onclick="getData_pl()">Premier League</a></p>
		<p><a href="#eight" class="ui-btn ui-corner-all" onclick="getData_liga()">La Liga</a></p>
		<p><a href="#nine" class="ui-btn ui-corner-all" onclick="getData_serie()">Serie A</a></p>
		<p><a href="#customer" data-direction="reverse" class="ui-btn ui-corner-all">Go Back</a></p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->


</div><!-- /page end -->


<div data-role="page" id="seven" data-theme="a">

	<div data-role="header">
		<h1>Premier League</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Premier League</h2>

		<h4> #|Team|Pl|W|D|L|F|A|GD|Pts </h4>

		<div id ="prem_table">

		</div>

		<p><a href="#five" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->


</div><!-- /page seven -->


<div data-role="page" id="eight" data-theme="a">

	<div data-role="header">
		<h1>La Liga</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>La Liga</h2>

		<h4> #|Team|Pl|W|D|L|F|A|GD|Pts </h4>

		<div id ="liga_table">

		</div>

		<p><a href="#five" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->


</div><!-- /page eight -->


<div data-role="page" id="nine" data-theme="a">

	<div data-role="header">
		<h1>Serie A</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Serie A</h2>

		<h4> #|Team|Pl|W|D|L|F|A|GD|Pts </h4>

		<div id ="serie_table">

		</div>

		<p><a href="#five" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->


</div><!-- /page nine -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- ADMIN + CUSTOMER PAGES -->
<!-- ADMIN -->
<div data-role="page" id="admin" data-theme="a">

	<div data-role="header">

		<h1>Admin</h1>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Admin</h2>
	</div>
	<p>Show all teams</p>

	<button onclick="getData_admin()"> Get data </button>

	<div id="admin_data"> </div>

	<p><a href="#one" class="ui-btn ui-shadow ui-corner-all">Logout</a></p>



</div><!-- /page manager -->


<!----------------------------------------------------------------------------------------------------------------------------->
<!-- CUSTOMER -->
<div data-role="page" id="customer" data-theme="a">

	<div data-role="header">
		<h1>User Page</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Home</h2>

		Welcome back!


		<br>

		<p><a href="#four" class="ui-btn ui-shadow ui-corner-all">Create a team</a></p>
		<p><a href="#five" class="ui-btn ui-shadow ui-corner-all">View League Tables</a></p>
		<p><a href="#playersStat" class="ui-btn ui-shadow ui-corner-all">View Top 25 Players Stats</a></p>
		<p><a href="#forumIndex" class="ui-btn ui-shadow ui-corner-all">Enter Discussion Forums</a></p>



		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->
	

	
</div><!-- /footer -->


<!-- Players Stat Page -->
<div data-role="page" id="playersStat" data-theme="a">

	<div data-role="header">
		<h1>Players Stats</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Chose a league</h2>
		<p><a href="#premPlayers" class="ui-btn ui-corner-all" onclick="getData_premPlayer()">Premier League</a></p>
		<p><a href="#ligaPlayers" class="ui-btn ui-corner-all" onclick="getData_ligaPlayer()">La Liga</a></p>
		<p><a href="#seriePlayers" class="ui-btn ui-corner-all" onclick="getData_serieaPlayer()">Serie A</a></p>
		<p><a href="#customer" data-direction="reverse" class="ui-btn ui-corner-all">Go Back</a></p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Logout</a></p>

	</div><!-- /content -->
	
	
</div><!-- /footer -->


<div data-role="page" id="premPlayers" data-theme="a">

	<div data-role="header">
		<h1>Premier League Top 25</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Premier League Top 25</h2>

		<table>
			<tr>
				<th class="Table_Header">Rank</th>
				<th class="Table_Header">Name</th>
				<th class="Table_Header">Goals (GL)</th>
				<th class="Table_Header">Assists (A)</th>
				<th class="Table_Header">Played (P)</th>
				<th class="Table_Header">Goals per 90</th>
				<th class="Table_Header">Mins per Goal</th>
				<th class="Table_Header">MPG</th>
				<th class="Table_Header">Total Shots</th>
				<th class="Table_Header">MPG</th>
				<th class="Table_Header">Goal Conversion</th>
				<th class="Table_Header">Shot Accuracy</th>
			</tr>

		</table>

		<table>
			<div id ="premPlayer_table"></div>
		</table>

		<p><a href="#playersStat" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->

</div><!-- /page seven -->


<div data-role="page" id="ligaPlayers" data-theme="a">

	<div data-role="header">
		<h1>La Liga Top 25</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>La Liga Top 25</h2>

		<h4>Rank|Name|GoalsGL|AssistsA|PlayedP|Goals per 90|Mins per Goal|MPG|Total Shots|Goal Conversion|Shot Accuracy </h4>


		<br>
		<div id ="ligaPlayer_table">

		</div>

		<p><a href="#playersStat" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->


</div><!-- /page eight -->


<div data-role="page" id="seriePlayers" data-theme="a">

	<div data-role="header">
		<h1>Serie A Top 25</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Serie A Top 25</h2>

		<h4>Rank|Name|GoalsGL|AssistsA|PlayedP|Goals per 90|Mins per Goal|MPG|Total Shots|Goal Conversion|Shot Accuracy </h4>


		<br>
		<div id ="serieaPlayer_table">

		</div>

		<p><a href="#playersStat" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->


</div><!-- /page nine -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/chat.js"></script>
</div>

<div data-role="page" id="forumIndex" data-theme="a">

	<div data-role="header">
		<h1>Forums</h1>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<h2>Select room to join</h2>

		<label for="room">Room</label>
		<select name="room" id="room">
			<option id="pl">Premier League</option>
			<option id="la_liga">La Liga</option>
			<option id="serie_a">Serie A</option>
		</select>

		<button id="enter_room" class="ui-btn">Enter Room</button>

	<p><a href="#customer" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Go Back</a></p>

	</div><!-- /content -->


</div><!-- /page nine -->

<script src="../scripts/forumRoom.js"></script>
<script src="../scripts/chat.js"></script>
<script src="../scripts/tables.js"></script>
<script src="../scripts/players.js"></script>
<script src="../scripts/userHandler.js"></script>
</body>
</html>